<div class="app">
  <header class="app-header" role="banner">
    <div class="container">
      <div class="app-topbar row">
        <div class="col m8">
          <app-title></app-title>
        </div>
        <div class="col m4">
          <app-search></app-search>
        </div>
      </div>
    </div>
    <div class="app-sidenav sidenav sidenav-fixed">
      <div class="app-logo">Github emojis</div>
      <app-nav></app-nav>
    </div>
  </header>
  <main class="app-main" role="main">
    <div class="container">
      <div class="row">
        <div class="app-content col s12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>

