/* You can add global styles to this file, and also import other style files */
:root {
  --body-bg: #fff;
  --header-bg: #fff;
  --header-color: #374955;
  --sidenav-bg: #374955;
  --sidenav-border: #fff;
  --logo-color: #fff;
}
body {
  background-color: var(--body-bg);
}
.app {
  display: flex;
  flex-direction: column;
}
.app-header {
  padding: 1.75rem 0 1rem;
  padding-left: 300px;
  background-color: var(--header-bg);
  color: var(--header-color);
}
.app-main {
  padding-left: 300px;
}
.app-topbar {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.app-logo {
  margin-bottom: 30px;
  padding: 2rem 1.75rem;
  font-size: 24px;
  font-weight: 700;
  color: var(--logo-color);
}
.app-sidenav {
  background-color: var(--sidenav-bg);
  border-right: 1px solid var(--sidenav-border);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-center {
  text-align: center;
}
